body {
    margin: 0;
    height: 100vh;
    height: 100dvh;
    font-family: sans-serif;
    background: #f3f3f3;
    color: #333;
    user-select: none;
    overflow: hidden;
  }

header {
  background: #222831;
  color: white;
  padding: 1rem;
}

nav a {
  margin-right: 1rem;
  color: #00ADB5;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

.appname:hover {
  cursor: pointer;
  user-select: none;
}

.contentHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 60px 10px;
    box-sizing: border-box;
}
