 body {
    margin: 0;
    background-image: url('/assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
    background: #f3f3f3;
    color: #333;
    user-select: none;
  }

header {
  background: #222831;
  color: white;
  padding: 1rem;
}

nav a {
  margin-right: 1rem;
  color: #00ADB5;
  text-decoration: none;
}

main {
  /*padding: 1rem;*/
  align-items: center;
    display: flex;
}

.appname:hover {
  cursor: pointer;
  user-select: none;
}

.contentHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: max-content;
    width: 100%;
    max-width: 95vw;
}


